@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

body {
    width: 1100px;
    margin: auto;
    font-family: "Outfit", sans-serif;
}

.MainDiv {
    width: 100%;
    margin: auto;
    background-color: lightcyan;

}

.CellEntete {
    display: grid;
    grid-template-columns: 60% auto;
    margin-top: 10px;
    margin-bottom: 10px;
    gap: 0%;
}

.CellInformationPerso {
    display: grid;
    grid-template-columns: 30% auto;
    gap: 0%;
    text-align: middle;

}

.CellPrenom {
    font-size: 3em;
    font-weight: bold;
    color: gray;
    margin-top: 15px;
    padding-left: 10px;
    border-left: 10px solid darkcyan
}

.CellNom {
    font-size: 3em;
    font-weight: bold;
    color: darkcyan;
    margin-top: 15px;
}

.CellImageProfil {
    margin: 15px 0 15px 88px;
    vertical-align: middle;
}

.ImageProfil {
    display: inline-block;
    width: 250px;
    height: 250px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border: 10px solid darkcyan;
    border-radius: 250px;
}

.BorderImageProfil {
    display: inline-block;
    width: 10px;
    background-color: gray;
    height: 160px;
    margin: 56px 0 56px 68px;
}

.CellIconInfo {
    grid-column-end: span 2;
    display: grid;
    grid-template-columns: 10% auto;
    row-gap: 10px;
    align-items: center;
    border-left: 10px solid darkcyan;
    padding-top: 10px;
}

.CellIcon {
    width: 35px;
    height: 35px;
    border-radius: 40px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-left: 10px;
}

.CellTexteNoirEntete {
    font-size: 18px;
    text-align: middle;
}

.CellBlueText {
    font-size: 18px;
    text-align: middle;
    text-decoration: underline;
    color: blue;
}

.CellJobName {
    margin: auto;
    width: 35%;
    height: 50px;
    text-align: center;
    color: white;
    font-size: 28px;
    background-color: darkcyan;
    border-radius: 10px;
    grid-column-end: span 2;
}

.CellBodyCV {
    display: grid;
    grid-template-columns: 35% auto;
    margin: 20px 0 0 15px;
    gap: 0%;
}

.CellColumnLeft {
    width: 100%;
    margin: auto;
    border-right: 3px solid darkcyan;
}

.CellColumnRight {
    width: 100%;
    margin: 15px;
}

.CellAProposTitre {
    color: gray;
    font-size: 25px;
    font-weight: bold;
    margin: 20px;
}

.CellTextAPropos {
    color: black;
    font-size: 18px;
    margin: 20px;
    text-align: justify;
}

.SmallGrayBox {
    margin: 15px;
    width: auto;
    padding-left: 10px;
    height: 33px;
    color: white;
    font-size: 25px;
    background-color: gray;
    border-radius: 10px;
}

.HalfTitle {
    color: black;
    font-size: 20px;
    font-weight: bold;
    margin: 20px 0 0 20px;
}

.GraySmallText {
    color: gray;
    font-size: 16px;
    margin-left: 20px;
}

.CellTable {
    margin: 20px;
    font-size: 18px;
    text-align: justify;
}

.BigGrayBox {
    width: 60%;
    padding-left: 10px;
    height: 33px;
    color: white;
    font-size: 25px;
    background-color: gray;
    border-radius: 10px;
    margin: 15px;
}

.CellTextColumnRight {
    color: black;
    font-size: 18px;
    width: 88%;
    text-align: justify;
    margin: 0 0 0 20px;
}